@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Bebas+Neue&family=Montserrat:ital@1&family=Poppins:wght@100;200;300;400;600;700&family=Roboto+Condensed:ital,wght@1,700&display=swap');

html{
    /* hieght and width */
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(224, 158, 158);
}

.button-container{
    border: 2px solid hsl(347, 67%, 61%);
    padding: 10px;
    border-radius: 7px;
    box-shadow: inset 0 20px 40px -19px #c25050cc;
}
button{
   cursor: pointer;
   outline: none;
   height: 75px;
   width: 120px; 
   font-family: barlow, sans-serif;
   font-size: 25px;
   color: #d7c2c7;
   text-shadow:  0 2px 5px #d02d4e;
   background: linear-gradient(to top,rgb(84, 15, 29), #bf485f);
   border: 2px solid #ce5c73;
   border-radius: 7px;
   box-shadow: inset 0 20px 40px -19px #b57373cc, 0 12px 12px 0 #ce5c73;
}

button:hover{
    background: linear-gradient(to bottom,#540f1d, #bf485f);
}

button:active{
    transform: translateY(3px);
    box-shadow: 0 6px 6px 0 #ce5c73;
}

